html {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#simscreen {
    position: relative;
    left: 0px;
    top: 0px;
    height: 600px;
    width: 800px;
    border: solid 1px;
}

#copyright {
    position: absolute;
    left: 50px;
    top: 580px;
    font-family: verdana;
    font-size: 12px
}

#title {
    position: relative;
    left: 0px;
    top: 0px;
    height: 40px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    font-family: verdana;
    color: White;
    /* text-transform: uppercase; */
}

#title h3 {
    padding-top: 2px;
    margin: 0px;
}

#question-div {
    position: absolute;
    left: 300px;
    top: 350px;
    width: 300px;
    height: 120px;
    border: solid 1px gray;
    background-color: gray;
    filter: alpha(opacity=55);
    color: white;
    visibility: hidden;
}

.simsubscreen {
    position: absolute;
    left: 50px;
    top: 50px;
    height: 530px;
    width: 745px;
}

.incanvas {
    margin: 5px 0 0 5px;
    padding: 0;
}

#nextButton {
    position: absolute;
    left: 750px;
    top: 530px;
    cursor: pointer;
}

#nextButton1 {
    position: absolute;
    left: 750px;
    top: 530px;
    cursor: pointer;
}

#prevButton {
    position: absolute;
    left: 0px;
    top: 532px;
    cursor: pointer;
}

.steptext {
    display: inline;
}

.steptext-6 {
    display: inline;
}

.steptext-2 {
    display: inline;
}

.circlebg {
    border-radius: 100%;
    font-size: 25px;
    color: #fff;
    text-align: center;
    background: #000
}

.popup {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tool .tooltext {
    visibility: hidden;
    width: 175px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    top: 300px;
    left: 0px;
    z-index: 100;
}

.tool:hover .tooltext {
    visibility: visible;
    /* text-align: justify; */
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 1.6;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext {
    visibility: visible;
    width: 600px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 1.6;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

@-webkit-keyframes moveBallSocket
{
	0% {left:560px; top:100px;}
	50% {left:310px; top:150px;}
    100% {left:310px; top:220px;}
}
@keyframes moveBallSocket
{
	0% {left:560px; top:100px;}
	50% {left:310px; top:150px;}
    100% {left:310px; top:220px;}
}

@-webkit-keyframes moveplate
{
	0% {left:560px; top:100px;}
	50% {left:270px; top:160px;}
    100% {left:270px; top:232px;}
}
@keyframes moveplate
{
	0% {left:560px; top:100px;}
	50% {left:270px; top:160px;}
    100% {left:270px; top:232px;}
}

.rotateHandKnob {
    animation: rotation_knob 1s 3 linear;
}

@keyframes rotation_knob {
    from {
        transform: rotateY(0deg);
    }
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(-60deg);
        transform-origin: 60% 40%;
        /* top: 110px; */
    }
}

@-webkit-keyframes movetop
{
	from {left:530px; top:100px;}
    to {left:220px; top:175px;}
}
@keyframes movetop
{
	from {left:530px; top:100px;}
    to {left:220px; top:175px;}
}

@-webkit-keyframes moveSingleScr1 {
    0% {
        left: 450px;
        top: 40px;
        transform: rotate(180deg);
    }
    100% {
        left: 225px;
        top: 195px;
        transform: rotate(180deg);
    }
}
@keyframes moveSingleScr1 {
    0% {
        left: 450px;
        top: 40px;
        transform: rotate(180deg);
    }
    100% {
        left: 225px;
        top: 195px;
        transform: rotate(180deg);
    }
}

.rotateHand2 {
    animation: rotation2 1s 3 linear;
}

@-webkit-keyframes rotation2 {
    from {
        transform: rotateY(0deg);
        transform-origin: 50% 50%;
    }
    to {
        transform: rotateY(-0.2turn);
        transform-origin: 60% 40%;
        /* top: 110px; */
    }
}
@keyframes rotation2 {
    from {
        transform: rotateY(0deg);
        transform-origin: 50% 50%;
    }
    to {
        transform: rotateY(-0.2turn);
        transform-origin: 60% 40%;
        /* top: 110px; */
    }
}

.type1 {
	position: absolute;
	top: 70px;
	display: inline;
}
.type2 {
	position: absolute;
    left: -120px;
	top: 140px;
	display: inline;
}
/* Tooltip container */
.tooltip1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width: 600px;
    left: 100px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 2;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

/* Show the tooltip1 text when hovering */
.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}

.tooltiptext1 {
    visibility: visible;
    width: 600px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 1.6;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

/* Tooltip container */
.tooltip2 {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 600px;
    top: 25px;
    left: 100px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 2;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

/* Show the tooltip1 text when hovering */
.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.tooltiptext2 {
    visibility: visible;
    width: 600px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    line-height: 1.6;
    padding: 10px 10px 10px 10px;
    /* Position the tooltip */
    position: absolute;
    z-index: 100;
}

#customModal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

@keyframes rotateyc {
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(360deg);
        transform-origin: 45% 65%;
        /* top: 110px; */
    }
}
@-webkit-keyframes rotateyc {
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(360deg);
        transform-origin: 45% 65%;
        /* top: 110px; */
    }
}

@keyframes rotateya {
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(-360deg);
        transform-origin: 45% 65%;
        /* top: 110px; */
    }
}
@-webkit-keyframes rotateya {
    to {
        /* transform: rotate(40deg); */
        transform: rotateY(-360deg);
        transform-origin: 45% 65%;
        /* top: 110px; */
    }
}

@keyframes rollleft {
    0% {
        rotate: 0deg;
    }
    10% {
        rotate: -15deg;
    }
    100%{
        rotate: 0deg;
    }
}
@-webkit-keyframes rollleft {
    0% {
        rotate: 0deg;
    }
    10% {
        rotate: -15deg;
    }
    100%{
        rotate: 0deg;
    }
}

@keyframes mrollleft {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -15deg;
    }
}
@-webkit-keyframes mrollleft {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: -15deg;
    }
}

@keyframes controlleft {
    to {
        rotate: -90deg;
        transform-origin: 45% 65%;
    }
}
@-webkit-keyframes controlleft {
    to {
        rotate: -90deg;
        transform-origin: 45% 65%;
    }
}

@keyframes rollright {
    0% {
       rotate: 0deg;
    }
    10% {
        rotate: 15deg;
    }
    100%{
        rotate: 0deg;
    }
}
@-webkit-keyframes rollright {
    0% {
        rotate: 0deg;
     }
     10% {
         rotate: 15deg;
     }
     100%{
         rotate: 0deg;
     }
}

@keyframes mrollright {
    0% {
       rotate: 0deg;
    }
    100% {
        rotate: 15deg;
    }
}
@-webkit-keyframes mrollright {
    0% {
        rotate: 0deg;
    }
    100% {
        rotate: 15deg;
    }
}

@keyframes controlright {
    to {
        rotate: 90deg;
        transform-origin: 45% 65%;
    }
}
@-webkit-keyframes controlright {
    to {
        rotate: 90deg;
        transform-origin: 45% 65%;
    }
}

@keyframes pitchup {
    from {
       transform: rotateX(0deg);
    }
    to {
        transform: rotateX(-45deg);
    }
}
@-webkit-keyframes pitchup {
    from {
        transform: rotateX(0deg);
    }
    to {
         transform: rotateX(-45deg);
    }
}

@keyframes controlup {
    to {
        transform: rotateX(45deg);
        transform-origin: 45% 65%;
    }
}
@-webkit-keyframes controlup {
    to {
        transform: rotateX(45deg);
        transform-origin: 45% 65%;
    }
}

@keyframes pitchdown {
    from {
        transform: rotateX(0deg);
    }
    to {
         transform: rotateX(90deg);
    }
}
@-webkit-keyframes pitchdown {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotateX(90deg);
    }
}

@keyframes controldown {
    to {
        transform: rotateX(-155deg);
        transform-origin: 45% 65%;
    }
}
@-webkit-keyframes controldown {
    to {
        transform: rotateX(-155deg);
        transform-origin: 45% 65%;
    }
}

@keyframes rotatepropeller {
    to {
        transform: rotate(360deg);
        transform-origin: 50% 60%;
    }
}
@-webkit-keyframes rotatepropeller {
    to {
        transform: rotate(360deg);
        transform-origin: 50% 55%;
    }
}

@keyframes throttle1 {
    to {
        top: 80px;
        transform: rotateX(90deg);
    }
}
@-webkit-keyframes throttle1 {
    to {
        top: 80px;
        transform: rotateX(90deg);
    }
}

@keyframes throttle2 {
    to {
        top: 210px;
        transform: rotateX(90deg);
    }
}
@-webkit-keyframes throttle2 {
    to {
        top: 210px;
        transform: rotateX(90deg);
    }
}

@keyframes throttle3 {
    to {
        top: 50px;
        transform: rotateX(90deg);
    }
}
@-webkit-keyframes throttle3 {
    to {
        top: 50px;
        transform: rotateX(90deg);
    }
}